<div class="wallet-core">
  <div class="row">
    <div class="col">
      <div class="warning">
        MyNEOWallet.com does not store your passwords and private keys. We cannot access accounts, recover keys, nor reverse transactions. It is recommended to bookmark MyNEOWallet.com or always check the URL diligently in case you find yourself on a phishing website. You are responsible for your security.
      </div>
    </div>
  </div>

  <div class="row intro-card">
    <div class="col">
      <div class="card card-padding">
        <div class="-welcome">
          Welcome
        </div>
        <div class="-buttons">
          <button type="button" class="btn btn-primary btn-lg">NEW WALLET</button>
          <button type="button" class="btn btn-outline-primary btn-lg">OPEN WALLET</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row new-wallet-card">
    <div class="col">
      <div class="card">
        <div class="-header">
          Create New Wallet
        </div>
        <div class="-body">
        </div>
      </div>
    </div>
  </div>

  <div class="row open-wallet-card">
    <div class="col">
      <div class="card">
        <div class="-header">
          Open Wallet
        </div>
        <div class="-body">
        </div>
      </div>
    </div>
  </div>
</div>