<div class="footer">
  <div class="container">
    <div class="brand">
      <img src="<%= asset_path "logo.png" %>" height=40 class="d-inline-block align-top" alt=""> MyNEOWallet
    </div>
    <div class="-info-row row">
      <div class="col-sm-4">
        <div class="-desc">MyNEOWallet is a secure, free, open source, and client-side interface for generating and managing NEO wallets. Interact with the NEO blockchain easily and securely.</div>
        <div class="-copyright">© 2018 MyNEOWallet</div>
      </div>
      <div class="col-sm-4">
        <div class="-donation">
          <div>Donations are appreciated!</div>
          <div>AZjFX7zVw6wWY1ckVxfjPJHoitsRLyT8Xo</div>
        </div>
        <div class="-github">
          <div>
            <i class="fa fa-github" aria-hidden="true"></i>
            <a href="https://www.github.com/myneowalletco">www.github.com/myneowalletco</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>