<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="<%= asset_path "logo.png" %>" height=40 class="d-inline-block align-top" alt="">
      MyNEOWallet
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>